.history*
.history/*
.vscode/
.vscode/*
*.jpg
spy.jpg
fb.jpg
appl.jpg
amzn.jpg
tna.jpg
bac.jpg
slv.jpg
cache.sqlite
.history/
.history
.history*
.venv/
.venv*
.venv
.vscode/
conteo/*.png
conteo/*.jpg
.venv/
.vscode
__pycache__
__pycache__/
__pycache__/*